body {
	font-family: Arial, Helvetica, verdana, arial, sans-serif;
	font-size: 16px;
	border: 0 none;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-default {
    background-color: #AFBED8;
    /* border-color: #F8F8F8; */
}

.nav-input input[type="text"] {
   height: 10px;
   font-size: 9px;
   line-height: 10px;
}

.breadcrumb {
	padding: 3px 10px 3px 60px;
	font-size: 12px;

	background-color: #E7E7E7;
}

.alert {
	height: 32px;
	padding: 4px 10px 2px 20px;
	margin: 0px;
}

.left-column {
	background-color: white;
}

.main {
	/* height: 300px; */
	background-color: #AFBED8;
}

#footer {
	height: 55px;
	background-color: #e1e4e7;
}

#footer-content {
	padding-top: 10px;
	padding-right: 15px;
}
