body {
	font-family: Arial, Helvetica, verdana, arial, sans-serif;
	font-size: 16px;
	border: 0 none;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-default {
    background-color: #AFBED8;
    /* border-color: #F8F8F8; */
}

.nav-input input[type="text"] {
   height: 10px;
   font-size: 9px;
   line-height: 10px;
}

.breadcrumb-bar {
	height: 21px;
	background-color: #f5f5f5;
}

.breadcrumb {
	margin: 0px;
	padding: 2px 0px 2px 0px;
	font-size: 12px;
}
.title {
	height: 32px;
	padding: 4px 10px 2px 20px;
	margin: 0px;
}

.items {
	margin: 10px 0px 10px 0px;	
}

.boder-right-splitter{
	border-right:1px solid #EEE;
}

.boder-left-splitter{
	border-left:1px solid #EEE;
}

.left-column {
	background-color: white;
}

.main {
	margin-top: 10px;
	/* padding-top: 20px;
	 height: 300px; 
	background-color: #AFBED8;*/
}

.ad-area {
	height: 120px;
	border-bottom:1px solid #EEE;
}

.sort-list {
	height: 20px;
	/* margin-bottom: 5px;
	font-size: 12px;
	margin-left: 30px;
	width: 1020px;
	
	padding-top: 30px;
	
	font-weight: bold;*/
}

.sort-list > ul {
	margin: 0;
	padding: 0px;
}

.sort-list ul > li {
	color:white;
	display: inline;
}

.sort-list li:before { 
	content: "|"; 
	padding: 0 5px; 
	/* font-weight: bold;
	color: #333333; */
}

.sort-list li:first-child:before { 
	content: ""; 
}

.white-font{
	color:white;
}

/** section for the index page **/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}



#footer {
	height: 55px;
	background-color: #e1e4e7;
}

#footer-content {
	padding-top: 10px;
	padding-right: 15px;
}
