<div class="well bs-component">
	<form class="form-horizontal" name="postcodeForm">
		<fieldset>
			<legend>New Mileage</legend>
			<div class="form-group">
				<label for="inputCode" class="col-lg-2 control-label">Post Code</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputCode"
						placeholder="Post Code" ng-model="postcode.postcode" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputCity" class="col-lg-2 control-label">City</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputCity"
						placeholder="City" ng-model="postcode.city" required>
				</div>
			</div>

			<div class="form-group">
				<label for="inputProvince" class="col-lg-2 control-label">Note</label>
				<div class="col-lg-10">
					<input type="text" class="form-control" id="inputProvince"
						placeholder="Note" ng-model="postcode.province" required>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button class="btn btn-default">Cancel</button>
					<button type="submit" ng-click='save(postcode)' ng-disabled='!postcodeForm.$valid' class="btn btn-primary">Save</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
