<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{p.street}}, {{p.city}}, {{p.province}} {{p.postcode}}</h3>
	</div>
	<div class="panel-body">{{p.title}}</div>

	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Other information</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tel</td>
				<td>{{p.phone}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{p.email}}</td>
			</tr>
			
			
			<tr ng-repeat="r in p.rooms">
				<td>{{r.name}}</td>
				<td>{{r.price | currency}}</td>
			</tr>
		</tbody>
	</table>
</div>

<div>
  <img ng-src="/images/{{p.id}}/{{img.name}}"
       class="phone"
       ng-repeat="img in p.images"
       ng-class="{active: mainImageUrl==img.name}">
</div>

<!-- row
<ul class="phone-thumbs">
  <li ng-repeat="img in p.images">
    <img ng-src="/images/{{p.id}}/{{img.name}}" ng-click="setImage(img.name)">
  </li>
</ul>
 -->