<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">detail view for <span>{{id}}</span> 105 Hansen Rd #50, L6V 3C9</h3>
	</div>
	<div class="panel-body">Freshly renovated house for rent at Queen
		St E and Kennedy. Three bedrooms and 3 piece bath upstairs plus one
		bedroom with 3 piece bath in bsmt, extended finished deck in back,
		laundry, parking, cable, you name it. Walking distance to grocery
		store. Rooms rented separately or whole house. Available Dec 1st.
		Contact Realtor Samantha Nash for a showing</div>

	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Other information</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tel</td>
				<td>519-883-2312</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>aks.retrwet@gmail.com</td>
			</tr>
			<tr>
				<td>Room 1 (Standard)</td>
				<td>$550</td>
			</tr>
			<tr>
				<td>Room 2 (Superior)</td>
				<td>$550</td>
			</tr>
			<tr>
				<td>Room 3 (Double)</td>
				<td>$560</td>
			</tr>
			<tr>
				<td>Room 4 (Triple)</td>
				<td>$570</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-md-4">
		<img src="images/boat-1.jpg" class="img-responsive" alt="ISDA Logo" />
	</div>
	<div class="col-md-4">
		<img src="images/boat-1.jpg" class="img-responsive" alt="ISDA Logo" />
	</div>
	<div class="col-md-4">
		<img src="images/boat-1.jpg" class="img-responsive" alt="ISDA Logo" />
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4">
		<img src="images/boat-1.jpg" class="img-responsive" alt="ISDA Logo" />
	</div>
	<div class="col-md-4">
		<img src="images/boat-1.jpg" class="img-responsive" alt="ISDA Logo" />
	</div>
	<div class="col-md-4">
		<img src="images/boat-1.jpg" class="img-responsive" alt="ISDA Logo" />
	</div>
</div>
</div>
</div>
<!-- row -->