<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{p.street}}, {{p.city}}, {{p.province}} {{p.postcode}}</h3>
	</div>
	<div class="panel-body">{{p.title}}</div>

	<table class="table">
		<thead>
			<tr>
				<th colspan="2">Other information</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Tel</td>
				<td>{{p.phone}}</td>
			</tr>
			<tr>
				<td>Email</td>
				<td>{{p.email}}</td>
			</tr>
			<tr>
				<td>Room 1 (Standard)</td>
				<td>$550</td>
			</tr>
			<tr>
				<td>Room 2 (Superior)</td>
				<td>$550</td>
			</tr>
			<tr>
				<td>Room 3 (Double)</td>
				<td>$560</td>
			</tr>
			<tr>
				<td>Room 4 (Triple)</td>
				<td>$570</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="phone-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in phone.images"
       ng-class="{active: mainImageUrl==img}">
</div>


<!-- row -->