<div class="row" ng-controller="PropertyListCtrl">

<div class="alert alert-danger" ng-show="data.error">
Error ({{data.error.status}}). The system data was not loaded.
</div>

	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Cities</h3>
			</div>

			<ul class="items">
				<li ng-repeat="item in data.properties | unique:'city'">
					<a ng-click="selectCity(item)">{{item}}</a>
				</li>
			</ul>

		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Types</h3>
			</div>

			<ul class="items">
				<li ng-repeat="item in data.properties | unique:'type'">
					<a ng-click="selectType(item)">{{getTypeText(item)}}</a>
				</li>
			</ul>
		</div>
<!-- 
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Type</h3>
			</div>
			<div class="panel-body">
				<form role="form">
					<input ng-repeat="item in data.properties | unique:'type'" name="color" type="radio" ngChange="selectType(item)" value="{{item}}">{{item}}<br/>
					<tt>color = {{color | json}}</tt><br/>
				</form>
				
			</div>
		</div>
  -->
	</div>

	<div class="col-md-9 boder-left-splitter">

		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">
					Ontario {{currentCity}} {{currentType}}
					<div class="sort-list pull-right">
						<ul>
							<li><a href="/">Distance</a></li>
							<li><a href="/web-design">Price</a></li>
							<li><a href="/it-consulting">Post Date</a></li>
						</ul>
					</div>
				</h3>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-show="filtered.length == 0">
					<h4 class="list-group-item-heading alert alert-danger">Data not avaliable for Ontario {{currentCity}} {{currentType}}.</h4>
				</li>
				<li class="list-group-item" ng-repeat="item in filtered = (data.properties | filter:filterPropertyByCity | filter:filterPropertyByType | range:selectedPage:pageSize)">
					<div class="img-box pull-left">
						<img src="/images/284-120x90.jpg" class="img-responsive"
							alt="ISDA Logo" />
					</div>
					<div>
						<h4 class="list-group-item-heading">
							{{item.street}}, {{item.city}}, {{item.province}} ({{item.start_price | currency}}/m) <span
								class="label" ng-class="getStatusClass(item)">{{getStatusText(item)}}</span>
						</h4>
						<p class="list-group-item-text">
							<strong>Phone:</strong> {{item.phone}}<span class="inline-space"></span><strong>Email:</strong>
							<a href="mailto:#">{{item.email}}</a>
						</p>
						<p class="list-group-item-text">
							<strong>Type:</strong> {{getTypeText(item)}}
						</p>
						
						<p class="list-group-item-text">Lovely House in a quiet area,
							near to good malls, If you can't trust an SQL identifier
							(database / table / column name) because it is provided by a
							user, you should escape it</p>
					</div>
				</li>
			</ul>
			<div class="pull-right btn-group">
				<a
					ng-repeat="page in data.properties | filter:filterPropertyByCity | filter:filterPropertyByType | pageCount:pageSize"
					ng-click="selectPage($index + 1)" class="btn btn-default"
					ng-class="getPageClass($index + 1)"> {{$index + 1}} </a>
			</div>
			
		</div>



	</div>
</div>
<!-- row -->